<div class="chatmsg" id="chatopen">
  <span class="chat_head">Chat</span>
  <span class="close">
    <i class="fa fa-times" aria-hidden="true" (click)="chatClose()"></i>
  </span>
  <div id="messages">
    <ul class="chat_ul">
      <li *ngFor="let chat of messages" class="chat_li">
        <div class="you" *ngIf="chat.name =='you'">you:{{chat.message}}</div>
        <div class="another" *ngIf="chat.name !='you'">{{chat.name}}:{{chat.message}}</div>
      </li>
    </ul>
  </div>
  <input type="text" id="text" autofocus>
  <span class="send" (click)="sendMsg()">
    <i class="fa fa-paper-plane" aria-hidden="true"></i>
  </span>
</div>