<div class="container">
  <div class="row">
        <div class="col-sm-6">
          <video id="localVideo"></video>
        </div>
        <div class="col-sm-6">
          <app-chat *ngIf="loadChild" (closechat)="close_Chatpage()" [messages]="messages" (send)="sendMsg($event)"></app-chat>
      </div>
  </div>
    <span id="remoteVideos"></span>
    <app-panel 
    (playvideo)=pause_video($event) 
    (pausevideo)="play_video()"
    (playaudio)="pause_audio()"
    (pauseaudio)="play_audio()"
    (chatopen)="chatOpen()"
    (chatclose)="chatClose()"
    ></app-panel>
</div>

