#localVideo{
    margin-top: 2%;
    width: 400px;
    border-radius: 25px;
    transform: scaleX(1) !important;
}
.icon{
    padding: 20px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}

.panel-div{
    text-align: center;

}
.forvideoicon{
    padding: 8px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #6273695e;;;
    margin-left: 34%;
    margin-right: 39%;
    background-image: linear-gradient(to bottom right, #e4cea4 , #f5f5f591);
}
.video{
    /* padding-right: 15%; */
    font-size: 27px;
    cursor: pointer;
}
.audio{
    padding-left: 21%;
    font-size: 27px;
    cursor: pointer;
}
.chat{
    padding-left: 21%;
    font-size: 27px;
    cursor: pointer;
}
.notification{
    font-size: 18px;
    /* color: #dc3545; */
    color: #6135dc;
    /* background-color: yellow; */
    text-align: center;
    padding-right: 6px;
    border-radius: 9px;
}