.icon{
    padding: 20px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}

.panel-div{
    text-align: center;

}
.forvideoicon{
    padding: 8px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #6273695e;;;
    margin-left: 34%;
    margin-right: 39%;
    background-image: linear-gradient(to bottom right, #e4cea4 , #f5f5f591);
}
.video{
    font-size: 27px;
    cursor: pointer;
}
.audio{
    padding-left: 21%;
    font-size: 27px;
    cursor: pointer;
}
.chat{
    padding-left: 21%;
    font-size: 27px;
    cursor: pointer;
}
.noti{
    color: #e6623b;
    font-size: 18px;
    position: absolute;
    margin-right: 15px;
    margin-left: -10px;
}